<form
  action="{{ url_for('main.playlist', playlist_name=playlist_name) }}"
  method="get"
  class="flex items-stretch space-x-2"
>
  <input
    type="text"
    name="search"
    placeholder="Search artist or title"
    value="{{ search_query }}"
    class="px-3 py-2 leading-tight text-gray-700 rounded border focus:outline-none focus:shadow-outline"
  />
  <button
    type="submit"
    class="px-4 py-2 font-bold text-white bg-indigo-800 rounded hover:bg-indigo-700"
  >
    Search
  </button>
</form>