<form action="{{ url_for('main.playlist', playlist_name=playlist_name) }}" method="get" class="mb-4">
    <input type="hidden" name="search" value="{{ search_query }}">
    <label for="sort" class="mr-2">Sort by:</label>
    <select name="sort" id="sort" onchange="this.form.submit()" class="p-2 border rounded">
        <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Date</option>
        <option value="artist" {% if sort_by == 'artist' %}selected{% endif %}>Artist</option>
        <option value="title" {% if sort_by == 'title' %}selected{% endif %}>Title</option>
        <option value="play_count" {% if sort_by == 'play_count' %}selected{% endif %}>Play Count</option>
        <option value="random" {% if sort_by == 'random' %}selected{% endif %}>Random</option>
    </select>
</form>
