<div class="bg-white rounded-lg shadow-md">
  <div class="relative aspect-w-16 aspect-h-9">
    <img
      src="https://img.youtube.com/vi/{{ get_youtube_id(track['url']) }}/0.jpg"
      alt="{{ track['title'] }}"
      class="object-cover rounded-t-lg w-full h-full cursor-pointer"
      onclick="playAudio('{{ get_youtube_id(track['url']) }}', this)"
      title="{{ track['title'] }}"
    />
    <div id="player-{{ get_youtube_id(track.url) }}" data-track-id="{{ track.id }}"></div>
    {% if track.play_count > 0 %}
      <div id="play-count-{{ track.id }}" class="absolute top-2 right-2 bg-stone-800 text-stone-50 px-2 py-1 rounded-md opacity-80">
          {{ track.play_count }}
      </div>
    {% endif %}
    <div class="absolute right-0 bottom-0 left-0 h-1 bg-stone-200">
      <div
        id="progress-{{ get_youtube_id(track['url']) }}"
        class="w-0 h-full bg-indigo-500"
      ></div>
    </div>
  </div>
  <div class="p-4">
    <a href="{{track['url']}}" class="hover:underline" target="_blank">
      <h2
        class="mb-2 font-semibold truncate text-stone-800"
        title="{{ track['title'] }}"
      >
        {{ track['title'] }}
      </h2>
    </a>
    <a
      href="https://www.discogs.com/search?q={{ track['artist']|urlencode }}&type=all"
      class="hover:underline"
      target="_blank"
    >
      <p class="mb-2 text-sm text-stone-600">{{ track['artist'] }}</p>
    </a>
    <div class="flex justify-between items-center">
      <p class="text-sm text-stone-500">{{ track['date'] }}</p>
      <div class="flex items-center space-x-2">
        {% include 'components/move_dropdown.html' %}
        {% include 'components/remove_track_button.html' %}
      </div>
    </div>
  </div>
</div>
