<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body class="min-h-screen bg-slate-100">
    <nav class="p-4 bg-sky-800">
        <div class="container flex justify-center mx-auto space-x-3 text-white">
            <a href="{{ url_for('main.index') }}" class="hover:underline">home</a>
            {% for playlist in playlists %}
            <a href="{{ url_for('main.playlist', playlist_name=playlist) }}" class="hover:underline">{{ playlist }}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="container px-4 py-8 mx-auto">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="relative px-4 py-3 mb-4 text-green-700 bg-green-100 rounded border border-green-400" role="alert">
              <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
</body>
</html>
