{% extends "base.html" %}

{% block content %}
<div class="container mx-auto max-w-2xl">
<div class="text-center">
    <h2 class="mb-4 text-2xl font-semibold">Random Track</h2>
    {% if random_track %}
    <div class="overflow-hidden mx-auto max-w-2xl bg-white rounded-lg shadow-md">
        <div class="relative aspect-w-16 aspect-h-9">
            <img src="https://img.youtube.com/vi/{{ get_youtube_id(random_track['url']) }}/0.jpg" 
                 alt="{{ random_track['title'] }}" 
                 class="object-cover w-full h-full cursor-pointer"
                 onclick="playAudio('{{ get_youtube_id(random_track['url']) }}', this)">
            <div id="player-{{ get_youtube_id(random_track['url']) }}" class="hidden absolute inset-0"></div>
            <div class="absolute right-0 bottom-0 left-0 h-1 bg-slate-200">
                <div id="progress-{{ get_youtube_id(random_track['url']) }}" class="w-0 h-full bg-red-500"></div>
            </div>
        </div>
        <div class="p-4">
            <a href="{{random_track['url']}}" class="hover:underline" target="_blank">
                <h2 class="mb-2 text-xl font-semibold text-slate-800">{{ random_track['title'] }}</h2>
            </a>
            <a href="https://www.discogs.com/search?q={{ random_track['artist']|urlencode }}&type=all" class="hover:underline" target="_blank">
                <p class="mb-2 text-slate-600">{{ random_track['artist'] }}</p>
            </a>
            <p class="text-sm text-slate-500">{{ random_track['date'] }}</p>
        </div>
    </div>
    {% else %}
    <p>No videos available.</p>
    {% endif %}
</div>
<div class="mt-8">
    <h3 class="mb-4 text-xl font-semibold">Create New Playlist</h3>
    <form action="{{ url_for('main.create_playlist_route') }}" method="post" class="flex items-center">
        <input type="text" name="playlist_name" placeholder="Enter playlist name" required class="flex-grow p-2 rounded-l border">
        <button type="submit" class="px-4 py-2 font-bold text-white bg-sky-800 rounded-r hover:bg-sky-700">Create</button>
    </form>
</div>
<div class="mt-8">
    <h3 class="mb-4 text-xl font-semibold">There are two methods to save playlists:</h3>
    <ul class="space-y-2 list-disc list-inside">
        <li class="">Run <code class="p-1 bg-sky-200 rounded">pctl save "$artist" "$tracktitle" $playlist</code> on the command line</li>
        <li>Run <code class="p-1 bg-sky-200 rounded">shazam</code> on the command line</li>
    </ul>

</div>
</div>
{% endblock %}
